<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= form_with url: "/flights", method: :get do |f| %>
  <%= f.label :departing_airport_id, "Departing From:" %>
  <%= f.select(:departing_airport_id, @airport_options) %>

  <%= f.label :arriving_airport_id, "Arriving At:" %>
  <%= f.select(:arriving_airport_id, @airport_options) %>

  <%= f.label :num_passengers, "Number of Passengers:" %>
  <%= f.select :num_passengers, options_for_select(1..4) %>

  <%= f.label :travel_date, "Date:" %>
  <%= f.select :travel_date, ((Date.today)...(Date.today + 2.months)).map{ |date| [date.strftime("%B %d %Y"), date] }, {} %>
<% end %>

