<h1>Flights</h1>

<%= form_tag flights_index_path, method: :get do %>
  <%= label_tag :departing_airport_id, "Departing From:" %>
  <%= select_tag(:departing_airport_id, options_for_select(@airport_options)) %>

  <%= label_tag :arriving_airport_id, "Arriving At:" %>
  <%= select_tag(:arriving_airport_id, options_for_select(@airport_options)) %>

  <%= label_tag :num_passengers, "Number of Passengers:" %>
  <%= select_tag(:num_passengers, options_for_select(1..4)) %>

  <%= label_tag :travel_date, "Date:" %>
  <%= select_tag(:travel_date, options_for_select(@date_options)) %>

  <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
  <% @flights.each do |flight| %>
    <li>
      <p>arriving at: <%= flight.arriving_at.code %></p>
      <p>departing: <%= flight.departing_from.code %></p>
    </li>

  <% end %>
</ul>