<div class="page__wrapper">
  <h2>Book It</h2>
  <p>You have chosen:
    <span><%= "#{@flight.departing_from.code} - #{@flight.arriving_at.code} on #{@flight.time_formatted}" %></span>
  </p>

  <h3>Please enter passenger information:</h3>
  <%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: @flight.id %>
    <%= form.hidden_field :num_tickets, value: @num %>
  
    <div data-controller="nested-form">
      <% remove = false %>
      <%= form.fields_for :passengers do |passenger| %>
        <%= render "passenger_fields", sub_form: passenger, removable: remove %>
        <% remove = true %>
      <% end %>

      <template data-nested-form-target="template">
        <%= form.fields_for :passengers, Passenger.new, child_index: "TEMPLATE_RECORD" do |passenger| %>
          <%= render "passenger_fields", sub_form: passenger, removable: true %>
        <% end %>
      </template>

      <div data-nested-form-target="add_item">
        <%= link_to "Add Passenger", "#", data: { action: "nested-form#add_association" } %>
      </div>
    </div>
  
    <%= form.submit "Book it", :name => nil %>
  <% end %>
</div>